html *, 
html *::after,
html *::before{
    box-sizing: border-box;
}

ul {
    all: unset;
}

body,
ul,
li {
    display: flex;
}

body {
    padding: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 194, 194);
}

ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

li {
    flex-basis: 27%;
    border: 10px solid black;
    padding: 25px 10px;
    background-color: white;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

img {
    width: 100%;
    object-fit:contain;
    ;
}