*,
*::before,
*::after {
    box-sizing: border-box;
}


.heading {
    border: 1px solid lightgray;
    text-align: center;
    padding: 6px 16px;
    width: fit-content;
    height: 32px;
    margin: 60px auto 0 auto;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.vertical-line-container {
    border: 0.3rem solid rgb(153, 153, 153);
    position: relative;
    bottom: 62px;
}

.vertical-line {
    border: 0.3rem solid rgb(153, 153, 153);
    height: calc(100% - 57px);
    width: fit-content;
    margin: 0 auto;
    position: relative;
    top: 57px;
   
}

.content {
    padding: 30px 0 70px 0;
    position: relative;
    bottom: calc(100% + 30px);
}

article {
    width: 50%;
    padding: 20px 30px 20px 30px;
}

article h3 {
    font-style: italic;
}

article:nth-child(odd) {
    position: relative;
    left: 50%;
}

article:nth-child(even) {
    text-align: right;
}


.circle {
    height: 30px;
    width: 30px;
    border: 3px solid rgb(153, 153, 153);
    border-radius: 100%;
}

article header {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: 10px;
}

article:nth-child(odd) .circle {
    position: relative;
    right: 45px;
    background-color: lightgreen;
}

article:nth-child(even) header{
    flex-direction: row-reverse;
}

article:nth-child(even) .circle {
    position: relative;
    left: 45px;
    background-color: lightcoral;
}

body {
    height: clac(fit-content -50%);
}


@media screen and (max-width: 600px) {
        .vertical-line {
            margin: 0 auto 0 50px;
        }

        .heading {
            margin: 60px auto 0 30px;
        }

        article:nth-child(even) header{
            flex-direction: row;
        }

        article .circle {
            position: relative;
            right: 45px;
            background-color: lightgreen;
        }

        .main .content article {
            position: relative;
            text-align: left;
            left: 60px;
            width: 70%;
        }

        article:nth-child(even) header{
            flex-direction: row;
        }

        article:nth-child(even) .circle {
            position: relative;
            background-color: lightcoral;
            left: -45px;
        }

        article h3 {
            position: relative;
            right: 40px;
        }


}

