body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.item {
    background-color: #FFF;
    padding: 2rem;
    border-radius: 0.4rem;
    color: #000;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
}

header,
footer {
    flex-basis: 100%;
}

header {
    height: 80px;
}

main {
    flex: 8 1 40rem;
    height: 200px;
}

aside {
    flex: 2 1 20rem;
    height: 200px;
}
